<div class="container">
  <h4>
    Hello
    <%= @user.email %>
  </h4>
  <br>
  <div class="container">
    <a href="#" class="btn-main">view collection</a>
    <a href="album/search" class="btn-main">Add Record</a>
    <a href="users/edit" class="btn-main">
      Edit your Profile
    </a>
  </div>

</div>
