<div class="container">
  <h4>
    Upate your user information
  </h4>
  <form class="form" action="user/update" method="post">
    <input type="text" name="email" value="<%= @user.email %>">
    
  </form>

</div>
