<div class="container">
  <h1>
    Hello
    <%= @user.email %>
    !
  </h1>
  <p>
    Welcome to your new Record App!
  </p>
  <div class="container">
    <input id="album_search_input" type="text" name="album_search" placeholder="Search for an Album">
    <button id="album_search_btn" type="button" name="button">Search</button>
  </div>
  <br>
  <div class="album_search_content">
  </div>
  <ul id="artitst_title">
  </ul>
</div>
<style media="screen">
  #discogs_thumb {
    max-width: 100px;
    height: auto;
  }
</style>
<script type="text/javascript">
  const url = 'https://api.discogs.com/releases/10816982';
  const searchInput = document.getElementById('album_search_input')
  const searchSubmitBtn = document.getElementById('album_search_btn')
  function btnTest() {
    // searchInput.onkeyup = function(){
    searchSubmitBtn.onclick = function(){
      var query = $("input[type=text][name=album_search]").val();
      const url = 'https://api.discogs.com//database/search?q={' + query + ' }&format=vinyl&token=IikKyXXSghzgSHkDvBsnFxTcJyYPSkmOoIwZMhsL'
      fetch(url)
      .then((resp) => resp.json())
      .then(function(data) {
        console.log(data)
        // debugger
        // let result = data;
        let results = data["results"]
        // let len = result["results"].length
        let listOfElement = []
        for (i = 0; i < 5; i++) {
          r = results[i]
          title = r["title"];
          cover = r["cover_image"]
          type = r["type"]
          format = r["format"]
          id = r["id"]
          const markup = `
            <a href="album/new?album_id=${id} &type=${type}">
              <li>
                <div class="result-container">
                  <img src="${cover}" id='discogs_thumb'>
                  <h2>
                    ${title}
                  </h2>
                  <p class="result-type">${type}</p>
                  <p class="result-format">${format}</p>
                  <p class="result-id">${id}</p>
                </div>
              </li>
            </a>
          `;
          listOfElement.push(markup)
        }
        loe = listOfElement.join("")
        container = document.querySelector("#artitst_title")
        container.innerHTML = loe
      })
    };
  }
  btnTest();
</script>
