<div class="header-container">
  <div class="header-main-nav">
    <div class="header-nav">
      <%= link_to "Back", :back %>
    </div>
    <div class="header-actions">
      <a href="/user">
        <%= current_user.email %>
      </a>
    </div>

  </div>

</div>
