<div class="header-container">
  <div class="header-main-nav">
    <div class="header-nav">
      Button Goes Here
      <button type="button" name="button">Button</button>
    </div>
    <div class="header-actions">
      <a href="user/show">
        <%= current_user.email %>
      </a>
    </div>

  </div>

</div>
